<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>


<p>Links</p>
<%= link_to 'User Backoffice', users_backoffice_welcome_index_path  %><br>
<%= link_to 'Admin Backoffice', admins_backoffice_welcome_index_path %>
